<p>親愛的 <%= @user.name %>在一盒所買的商品:</p>
<p>訂單編號:<%= @order.id%></p>
<% @order.ordered_items.each do |ordered_item|%>
	<li><%= ordered_item.product.name %> <span><%= ordered_item.quantities %>個</span> , <span>單筆金額 <%= ordered_item.total %>元</span></li>
<% end %>
<p >本次消費總金額加上運費$60共 <%= @order.total %> 元</p>
<p>寄件地址： <%= @order.address %></p>
<h1>!!此系統仍在做測試若收到此信請忽略!!</h1>