<div class="title">親愛的 <%= @user.name %> ,您好：</div>
<p>感謝您對一盒的喜愛與支持，以下是您本次在一盒所買的商品:</p>
<p>訂單編號:<%= @order.id %></p>
<% @order.ordered_items.each do |ordered_item|%>
	<li><%= ordered_item.product.name %> <span><%= ordered_item.quantities %>個</span> , <span>單筆金額 <%= ordered_item.total %>元</span></li>
<% end %>
<p >本次消費總金額共 <%= @order.total %> 元</p>
<p>計件地址： <%= @order.address %></p>
<p>取貨編號:  <%= @order.deliver_number %></p>
<p>謝謝您的光臨，希望本次一盒的手作能夠讓您的生活更有溫度！</p>