<div class="columns">
  <div class="column  is-2 is-offset-5">
    <br>
    <br>
    <br>
    <h1 class="title has-text-centered has-text-success" >登入</h1>
    <div class="box">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
   <%= render 'layouts/errors' %>
    <%= f.label :email ,'信箱:'%>    
    <br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password ,'密碼:'%><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>


    <%= f.submit "登入" ,class:'button is-success is-outlined'%>
    <%= link_to '註冊',new_user_registration_path ,class:'button is-info is-outlined'%>
    <br>
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path,class:'button is-light is-outlined'%>    
<% end %>

    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


