<section class="section">
	<div class="container">
	<br>
		<h1 class="title has-text-centered">設計師列表</h1>
		<% @designers.each do |designer| %>
    <br>
    <br>
    <br>	
		  <div class="columns">
		  <div class="column">
		  	
		  </div>

		  <div class="colum is-right">
	    	<%= link_to '編輯',edit_admin_designer_path(designer),class:'button is-light '%> 	
		  	<%= link_to '刪除',admin_designer_path(designer),method: :delete,data: {confirm:'要刪除嘛？'},class:'button is-danger '%>
		  </div>		  	
		  </div>

		  <hr>
		  <br>
		  <br>
		  <div class="columns">
		    <div class="column is-3">
		    			<figure class="image is-200x200" >
		    				<%= image_tag designer.image ,style:'border-radius: 50%'%>
		    			</figure>
		    </div>	    		  			
	    	<div class="column ">
	    				  <div class="title">
		  	 <%= designer.name%>
		  </div>
				<div class="card-content">
	    			  <%=simple_format  designer.description%>
		    	</div>
		    </div>  
	      </div>
	      <% end %>
</section>