<div class="field">
    <%= f.label :name ,'商品名稱', class: 'label'%><br />
      <% @product.errors.full_messages_for(:name).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
      <% end %>    
    <%= f.text_field :name, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :designer_id,'設計師', class: 'label' %>
      <% @product.errors.full_messages_for(:price).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
      <% end %> 
    <span class="select">
    <%= f.collection_select :designer_id,@designers,:id,:name %>
    </span>  
  </div>

  <div class="field">
    <%= f.label :type_id,'商品類型', class: 'label' %>
    <span class="select">
    <%= f.collection_select :type_id,@types ,:id,:name %>
    </span>  
  </div>

  <div class="field">
    <%= f.label :price,'商品價格', class: 'label' %>
      <% @product.errors.full_messages_for(:price).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
      <% end %>  
    <%= f.number_field :price, class: 'input', min:1 %>
  </div>

  <div class="field">
    <%= f.label :description ,'商品敘述', class: 'label'%>
      <% @product.errors.full_messages_for(:description).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
      <% end %>
    <%=f.text_area :description,class: 'textarea'%>
  </div>

  <div class="field">
  <%= f.label :pictures,'圖片' ,class:'label'%>
      <% @product.errors.full_messages_for(:pictures).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
      <% end %>
  <div class="form-group">
  <img id="img_prev" width=300 height=300 src="#" alt="請選擇照片" class="img-thumbnail hidden"/> <br/>
  <span class="btn btn-default btn-file">
  <%= f.file_field :pictures, id: "avatar-upload" %>
  </span>
  <%= f.hidden_field :pictures_cache %>   
  </div>
</div>

  <div class="field">
  <%= f.label :image1,'商品圖片' ,class:'label'%>
      <% @product.errors.full_messages_for(:image1).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
   <% end %>
   <span class="btn btn-default btn-file">
  <%= f.file_field :image1%>
  </span>  
  </div>
    <div class="field">
      <% @product.errors.full_messages_for(:image2).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
   <% end %>
    <span class="btn btn-default btn-file">
  <%= f.file_field :image2%>
  </span>   
  </div>
    <div class="field">
      <% @product.errors.full_messages_for(:image3).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
   <% end %>
  <span class="btn btn-default btn-file">
  <%= f.file_field :image3%>
  </span> 
  </div>
    <div class="field">
      <% @product.errors.full_messages_for(:image4).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
   <% end %>
   <span class="btn btn-default btn-file">
  <%= f.file_field :image4%>
  </span> 
  </div>
<div class="columns">
  <div class="column ">
      <%= f.submit "確認" ,class:"button is-light"%>
  </div>   
  <% if params[:action] == 'edit' %>
  <div class="column has-text-right">
  <% if @product.available%2 == 1 %>
     <%= link_to '缺貨中',admin_path(@product),method: :post,data: {confirm:'缺貨嘛？'},class:'button is-warning'%>
  <% else %>
     <%= link_to '已補貨',admin_path(@product),method: :post,data: {confirm:'補貨了嘛？'},class:'button is-success'%>   
  <% end %>
  <%= link_to '刪除',admin_commodity_path(@product),method: :delete,data: {confirm:'要刪除嘛？'},class:'button is-danger'%>    
  </div>
  <% end %>  
</div>
 