<section class="section" id="bread2">
	<div class="container" id="left">	
		<p class="title has-text-danger "><%= flash[:note] %></p>	
		<div class="columns">
			<div class="column is-2 ">
				<aside class="menu is-hidden-mobile"  id="bread">
				  <p class="menu-label is-size-4 has-text-weight-bold">
				    商品類別:
				  </p>
				  <ul class="menu-list">
					<% @types.each do |type| %>			  	
					    <li><a href="#<%= type.id %>" class="is-size-5"><%= type.name%></a></li>
					<% end %>
				  </ul>
				  
				</aside>				
			</div>
			<div class="column is-12">
			<nav class="breadcrumb is-size-5 is-size-6-mobile has-text-weight-bold is-hidden-desktop" aria-label="breadcrumbs" >	<ul>
			  	商品類別: <span>  </span>
			<% @types.each do |type| %>			  	
			    <li><a href="#<%= type.id %>" ><%= type.name%></a></li>
			<% end %>		    
			  </ul>
			</nav>			
				<% @types.each do |type| %>

				  <div class="title" id="<%= type.id %>">
				  	<% if type.products.find_by(shelve:true) %>
						<%= type.name%>	  			  	
				  </div>		  	
				  <hr>
				<% end %>		  

				  <div class="columns is-multiline">
				  	<% type.products.each do |product| %>
						    <div class="column is-2" id="floatobject">
						    	<div class="card" id="floatobject2">
						    		<div class="card-image">
						    			<figure class="image is-200x200 is-hidden-mobile" id="float" style="width:100%">
						    				<%= link_to  admin_commodity_path(product) do%>
						    				<%= image_tag product.pictures,style:'height:100%;max-width:none;width:auto' %>
						    				<% end %>
						    			</figure>
						    			<figure class="image is-square is-hidden-desktop" id="float" style="width:100%">
						    				<%= link_to  admin_commodity_path(product) do%>
						    				<%= image_tag product.pictures,style:'height:100%;max-width:none;width:auto' %>
						    				<% end %>
						    			</figure>				    			
						    		</div>				    		
				    		<div class="card-content" style="padding-top: 0px">
						    			<div class="column has-text-right">
						    			<%= link_to  edit_admin_commodity_path(product) do%>
						    			<div class="button is-medium ">
						    			  <i class="fa fa-pencil fa-2 " aria-hidden="true"></i>
						    			</div>	
						    			<% end %>	    				
						    			</div>				    			
				    					<div class="">
				    					<%= link_to  admin_commodity_path(product) do%>	
				    			          <div class="has-text-weight-bold"><%= product.name %></div>
				    			          <p>售價 : NT$<%= product.price %>	</p>
				    			        <% end %>  									
				    			        </div>
				    			        

										<% if !product.shelve %>
										<hr>						
										<div class="column has-text-right">
												<p class="button is-danger ">缺貨中</p>
										</div>	
										<% end %>
				
				    		</div>

						    </div>
						    </div>			  		
				    <% end %>
				  </div>
				  
				<% end %>
			</div>	
		<a href="#bread2" id="up"><i class="fa fa-arrow-circle-up is-hidden-desktop " aria-hidden="true"></i></a>					
		</div>

	</div>
</section>