<section class="section">
	<div class="container">
		<br>
		<h1 class="title has-text-centered has-text-success" >商品列表</h1>
		<% @types.each do |type| %>
		  <br>	
		  <br>
		  <br>

		  <div class="column ">
			  <div class="title ">
			  	 <%= type.name%>
			  </div>		  			  	
		  </div>

		  <hr>

		  <div class="columns">
		  	<% type.products.each do |product| %>
		    <div class="column is-3">
		    	<div class="card">
		    		<div class="card-image">
		    			<figure class="image is-318x318 is-hidden-mobile" id="float">
		    				<%= link_to  admin_commodity_path(product) do%>
		    				<%= image_tag product.pictures%>
		    				<% end %>
		    			</figure>
		    			<figure class="image is-hidden-desktop" id="float">
		    				<%= link_to  admin_commodity_path(product) do%>
		    				 <%= image_tag product.pictures %>
		    				<% end %>
		    			</figure>
		    		</div>
		    		<div class="card-content">
		    			<div class="columns is-5">
		    				<div class="column">
		    					<div class="title">
		    			          <%= product.name %>
		    			        </div>
		    				</div>
		    			
		    			<div class="column is-3">
		    			<%= link_to  edit_admin_commodity_path(product) do%>
		    			<div class="button is-medium ">
		    			  <i class="fa fa-pencil fa-2 " aria-hidden="true"></i>
		    			</div>	
		    			<% end %>	    				
		    			</div>
		    			</div>
						<div class="column">
							售價 : 
							<div class="title is-size-4">
							 NT$<%= product.price %>										
							</div>
						</div>
						<hr>
						<% if !product.shelve %>						
						<div class="column has-text-right">
								<p class="button is-danger ">已下架</p>
						</div>	
						<% end %>															
		    		</div>
		    	</div>
		    </div>
		  <% end %>
		  </div>
		  
		<% end %>

	</div>
</section>