<section class="section">
  <div class="container">
<div class="columns">
  <div class="column  is-4 is-offset-4">  
    <br>
    <h1 class="title has-text-centered has-text-success" >新增類別</h1>
    <br>
    <br>
    <br>
    <div class="box">
    <%= form_for @type,url: admin_newtype_path do |f| %>
      <div class="field">
        <%= f.label :name,'商品類別', class: 'label' %>
       <% @type.errors.full_messages_for(:name).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
       <% end %>       
        <%= f.text_field :name, class: 'input' %>
      </div>  
        <%= f.submit "確認",class:"button is-light" %>
        <%= link_to '跳過' ,new_admin_commodity_path ,class:'button is-info'%>
      <% end %>
    </div>
   <div class="box">   
            <p class="label">已有類別</p>
 <% @types.each do |type| %>  
   <div class="box">  
      <div class="columns">
        <div class="column">
       <%= type.name %>           
        </div>
      <div class="column has-text-right">
        <%= link_to '刪除',admin_destroy_type_path(type),method: :delete,data: {confirm:'要刪除嘛？'},class:'button is-danger '%>
      </div>   
       </div>             
      </div> 
    <% end %>  
      </div>      
  </div>
</div>


  </div>
</section>



