<section class="section">
        <div class="container">
        <div class="columns">
        <div class="column is-5 has-text-centered" >
          <div class="card-image">
            <figure class="image is-512x512 is-hidden-mobile">
                <%= image_tag @product.pictures %>
            </figure> 
            <figure class="image is-256x256 is-hidden-desktop">
                <%= image_tag @product.pictures %>
            </figure>  
          </div>         
        </div>

        <div class="column ">
              <div class="title is-2"> <%= @product.name %> </div>  
                <div class="column ">
                <% if !@product.shelve %>
                        <p class="button is-danger ">已下架</p>
                <% end %>
                </div>                                        
                <div class="column is-size-4 has-text-weight-semibold">
                    價格:
                <div class=" is-size-3 has-text-weight-bold">
                    NT$<%= @product.price %> 
                </div>
                </div>
                <div class="column ">
                <%= link_to  edit_admin_commodity_path(@product) do%>
                <div class="button is-medium ">
                  <i class="fa fa-pencil fa-2 " aria-hidden="true"></i>
                </div>  
                <% end %>            
                </div>
                <div class="column is-size-4 has-text-weight-semibold">
                    敘述:
                <div class=" is-size-5 has-text-weight-normal">
                    <%=simple_format  @product.description %> 
                </div>                    
                </div>
                <div class="column">
                    設計師:
                    <div class="title is-size-4">
                        <%= @product.designer.name %>
                    </div>
                    <figure class="image is-128x128 ">
                        <%= image_tag @product.designer.image %>
                    </figure>                    
                </div>       
                <div class="column has-text-right">
                 <%= link_to '上一頁',:back,class:'button is-info  '%>               
                </div>            
        </div>
           
        </div>

        </div>
</section>
