<section class="section">
        <div class="container">
        <div class="columns">
        <div class="column is-5 has-text-centered" >
          <div class="card-image">
            <figure class="image is-350x350 is-hidden-mobile"  style="margin-left: 30%;overflow: hidden">
                <%= image_tag @product.pictures,style:'height:100%;max-width:none;width:auto' %>
            </figure> 
            <figure class="image is-200x200 is-hidden-desktop" style="margin-left: 15%;overflow: hidden">
                <%= image_tag @product.pictures,style:'height:100%;max-width:none;width:auto' %>
            </figure>  
          </div>         
        </div>

        <div class="column ">
              <div class=" is-size-2 has-text-weight-bold is-size-4-mobile"> <%= @product.name %> </div> 
                <% if !@product.shelve %>               
                <div class="column ">
                        <p class="button is-danger ">缺貨中</p>
                </div>  
                <% end %>                                                      
                <div class="column is-size-5 has-text-weight-semibold">
                    價格:
                <div class=" is-size-4 has-text-weight-bold">
                    NT$<%= @product.price %> 
                </div>
                </div>
                <div class="column ">
                <%= link_to  edit_admin_commodity_path(@product) do%>
                <div class="button is-medium ">
                  <i class="fa fa-pencil fa-2 " aria-hidden="true"></i>
                </div>  
                <% end %>            
                </div>
                <div class="column is-size-5 has-text-weight-semibold">
                    敘述:
                <div class=" is-size-6 has-text-weight-normal" >
                    <%=simple_format  @product.description %> 
                </div>                    
                </div>             
        </div>       
        </div>
        <hr>
        <div class="column">
        <div class=" is-size-2 has-text-weight-bold is-size-5-mobile">
            商品照片:
        </div>
            <% unless @product.image1.blank? %>
             <div class="column ">
                <figure class="image is-hidden-mobile " style="height:800px" >
                    <%= image_tag @product.image1,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image1,style:"height:auto;width:100%" %>
                </figure> 
            </div>               
            <% end %>
            <% unless @product.image2.blank?%>
            <div class="column ">
                <figure class="image is-hidden-mobile" style="height:800px" >
                    <%= image_tag @product.image2,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image2,style:"height:auto;width:100%"%>
                </figure>
            </div>                
            <% end %>
            <% unless @product.image3.blank? %>
            <div class="column ">
                <figure class="image is-hidden-mobile" style="height:800px">
                    <%= image_tag @product.image3,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image3,style:"height:auto;width:100%"%>
                </figure>  
            </div>                
            <% end %>
            <% unless @product.image4.blank?  %>
            <div class="column ">
                <figure class="image is-hidden-mobile" style="height:800px">
                    <%= image_tag @product.image4,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image4,style:"height:auto;width:100%" %>
                </figure> 
            </div>                
            <% end %>

        <hr>
            <div class="column">
                設計師:
                <div class="title is-size-4">
                    <%= @product.designer.name %>
                </div>
                <figure class="image is-128x128 ">
                    <%= image_tag @product.designer.image %>
                </figure>                    
            </div>                                 
        </div>
        <div class="column has-text-right">
         <%= link_to '上一頁',:back,class:'button is-info  '%>               
        </div>         

        </div>
</section>
