<section class="hero is-light is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <% if current_user %>
          <div class="navbar-item">
            <p>Welcome 管理員:<%= current_user.email %></p>
          </div>
          <% end %>
          <div class="navbar-end">
          <% if current_user %>
             <% if current_user.admin? %>
             <div class="tag is-warning ">管理員視角</div>
             <%= link_to '切換視角',root_path,class:" navbar-item has-text-danger has-text-weight-bold" %>  
             <% end %> 
             <%= link_to '登出',destroy_user_session_path, method: :delete ,class:"navbar-item" %>   
             <%= link_to '顧客訂單',admin_details_path,class:"navbar-item" %>   
          <% else %>
            <%= link_to '登入',new_user_session_path ,class:"navbar-item" %>            
          <% end %>      
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-2 has-text-left ">
        一盒
      </p>
      <p class="is-8 has-text-left is-hidden-desktop">
        一個盒子，蘊含著我們對生活品質的想像，在手作的情感，與生活的溫度裡，裝載每份深刻
      </p>      
      <br>
      <p class="subtitle  is-6 has-text-left is-hidden-mobile">
        一個盒子，蘊含著我們對生活品質的想像，在手作的情感，與生活的溫度裡，裝載每份深刻
      </p>

    </div>
  </div>
  <div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li class="<%= 'is-active'if current_page?admin_banners_path %>">
          <%= link_to '關於一盒', admin_banners_path %>
        </li>        
        <li class="<%= 'is-active'if current_page?new_admin_commodity_path %>">
          <%= link_to '新增商品', admin_newtype_path %>
        </li>
          <li class="<%= 'is-active'if params[:controller] == 'admin/commodities' && params[:action] == 'index' %>">
          <%= link_to '商品列表',admin_commodities_path %>
        </li>
        <li class="<%= 'is-active'if current_page?new_admin_designer_path %>">
          <%= link_to '新增設計師',new_admin_designer_path %>
        </li>
        <li class="<%= 'is-active'if current_page?admin_designers_path %>">
          <%= link_to '設計師列表',admin_designers_path %>
        </li>               
      </ul>
    </div>
  </nav>
  </div>
</section>