<section class="hero is-light is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item has-text-weight-bold">
           <% if current_user %>
            <p>Hi! <%= current_user.name %></p>
            <div class="navbar-item" style="padding-left: 0px;padding-right: 0px">,</div>             
          <% end %>             
          </div>

            <div class="navbar-item" style="padding-left: 0px;">
              <%= link_to("https://www.facebook.com/aboxwj") do%> 
              <i class="fa fa-facebook-square fa-6 " aria-hidden="true" style="font-size:2em"></i>
             <% end %>                 
            </div>
            <div class="navbar-item" style="padding-left: 0px;padding-right: 0px">/</div>

            <div class="navbar-item " >
              <%= link_to("https://www.instagram.com/le_box_leather") do%> 
              <i class="fa fa-instagram " aria-hidden="true" style="font-size:2em"></i>
              <% end %>                          
            </div>
            <div class="navbar-item is-hidden-mobile" style="padding-left: 0px;padding-right: 0px">/</div>
            <div class="navbar-item is-hidden-mobile" >
              <a href="mailto:lebox1995@gmail.com">
                <i class="fa fa-envelope-square" aria-hidden="true" style="font-size:2em"></i>
              </a> 
            
            </div>

          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-start">

          
          </div>

          <div class="navbar-end">
          
          <% if current_user %>
             <% if current_user.admin? %>
             <div class="tag is-warning ">顧客視角</div>
             <%= link_to '切換視角',admin_commodities_path,class:"navbar-item has-text-danger has-text-weight-bold" %> 
             <% end %>
             <%= link_to '登出',destroy_user_session_path, method: :delete ,class:"navbar-item" %> 
             <%= link_to '訂單紀錄',detail_path,class:"navbar-item" %>
          <% else %>
          
            <%= link_to '登入',new_user_session_path ,class:"navbar-item" %>               
          <% end %>
            <% if work.working %>
              <%= link_to '購物車',orders_path,class:"navbar-item"%>  
            <% else %>
              <p class="navbar-item">暫時歇業</p>
            <% end %> 
            
          </div>
        </div>
      </div>
    </nav>
  </div>

<div class="hero-body">
      <div class="container has-text-centered">
      <p class="title is-size-1 has-text-left ">
        一盒
      </p>   
      <br> 
      <p class="subtitle  is-size-6-desktop is-size-6-mobile has-text-left ">
        一個盒子，蘊含著我們對生活品質的想像，在手作的情感，與生活的溫度裡，裝載每份深刻。
      </p>

    </div>
 <!--     
    <div class="w3-content w3-display-container" style="max-width:none">
      <%= image_tag brand.banner1 ,class:'mySlides fade', style:"width:100%" %>
      <%= image_tag brand.banner2 ,class:'mySlides fade', style:"width:100%" %>
      <%= image_tag brand.banner3 ,class:'mySlides fade', style:"width:100%" %>
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>
 -->   
  </div>

  <div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li class="<%= 'is-active'if current_page?brand_path %>">
          <%= link_to '關於一盒',brand_path %>
        </li>
        <li class="<%= 'is-active'if params[:action] == 'show'||params[:action] == 'index' %>">

          <%= link_to '商品',products_path %>
        </li>
        <li class="<%= 'is-active'if current_page?designers_path %>">
          <%= link_to '設計師',designers_path %>
        </li>         
      </ul>
    </div>
  </nav>
  </div>
</section>

<script >
   /* var slideIndex = 1;

    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
         for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
          }

        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " w3-white";      
        setTimeout(carousel, 5000); // Change image every 2 seconds
    };

    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " w3-white";
    };*/

    sqs_css="@media( max-width:768px ){ .sqs-container{position:absolute;top:10%;width:95%;}";
    sqs_title = "聯絡一盒";
    sqs_label_submit = "寄信";
    sqs_label_name = "姓名";
    sqs_label_email = "你的信箱";
    sqs_label_message = "信件內容";
    sqs_placeholder_message = "我想告訴一盒...";
    sqs_placeholder_subject = "信件主旨";
    sqs_placeholder_name = "你的姓名";
    sqs_placeholder_email = "你的信箱";
    sqs_label_subject = "信件主旨";
</script>
