<section class="hero is-light is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <% if current_user %>
          <div class="navbar-item">
            <p>Welcome <%= current_user.name %></p>
          </div>
          <% end %>
          <div class="navbar-end">
          <% if current_user %>
             <% if current_user.admin? %>
             <div class="tag is-warning ">顧客視角</div>
             <%= link_to '切換視角',admin_commodities_path,class:"navbar-item has-text-danger has-text-weight-bold" %> 
             <% end %>
             <%= link_to '登出',destroy_user_session_path, method: :delete ,class:"navbar-item" %> 
             <%= link_to '訂單紀錄',detail_path,class:"navbar-item" %>
          <% else %>
            <%= link_to '登入',new_user_session_path ,class:"navbar-item" %>               
          <% end %>
            <% if work.working %>
              <%= link_to '下訂單',orders_path,class:"navbar-item"%>  
            <% else %>
              <p class="navbar-item">暫時歇業</p>
            <% end %> 
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body" style="padding: 0px">
    <div class="w3-content w3-display-container" style="max-width:none">
      <%= image_tag @banner.banner1 ,class:'mySlides fade', style:"width:100%" %>
      <%= image_tag @banner.banner2 ,class:'mySlides fade', style:"width:100%" %>
      <%= image_tag @banner.banner3 ,class:'mySlides fade', style:"width:100%" %>
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>
  </div>
  <div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li class="<%= 'is-active'if current_page?brand_path %>">
          <%= link_to '關於一盒',brand_path %>
        </li>
        <li class="<%= 'is-active'if params[:action] == 'show'||params[:action] == 'index' %>">

          <%= link_to '商品',products_path %>
        </li>
        <li class="<%= 'is-active'if current_page?designers_path %>">
          <%= link_to '設計師',designers_path %>
        </li>
        <li class="<%= 'is-active'if current_page?contact_path %>">
          <%= link_to '聯絡方式',contact_path %>
        </li>          
      </ul>
    </div>
  </nav>
  </div>
</section>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " w3-white";
    }
</script>