<section class="section">
	<div class="container">
		<p class="title has-text-success "><%= flash[:note] %></p>		

		<h1 class="title has-text-centered" style="color:hsl(141, 71%, 48%)">訂單紀錄</h1>
		  <br>
		  <br>
		  <br>
		<% @orders.order(id: :desc).each do |order| %>
		<% if order.cancel %>
		<div class="button is-danger">
			此訂單已經在 <%= order.updated_at.strftime('%m/%d , %H:%M') %> 取消
		</div>			
		<% end %>		
		<div class="box">
		<div class="columns">
			<div class="column">
              訂單編號: 
              <div class="title">
              	<%= order.id %>
              </div>	
			</div>
			<div class="column">
						訂單商品:
					  <% order.ordered_items.each do |ordered_item| %>					
				<div class="columns">
				
					<div class="column">		               
					   <div class="title">
					   	<%= link_to product_path(ordered_item.product) do %>
					   <%= ordered_item.product.name %>
		   				<% end %>
					   </div>
					</div>				
					<div class="column">
						<div class="title">
						<%= ordered_item.quantities %>個								
						</div>
					</div>	
				</div>	
				<% end %>		  
			</div>
			<div class="column has-text-right">
			   訂單金額:
			   <div class="title">
			   <%= order.total %>	元		   	
			   </div>
			</div>
		</div>
		<hr>
		<div class="columns">
			<div class="column">
				備註:
				<br>
				<%= simple_format order.option%>
			</div>
			<div class="column">
				寄件地址:
				<div class="has-text-weight-bold">				
				<%= simple_format order.address%>
			    </div>
			</div>
		    <div class="column has-text-right">
				下單日期:
				<div class="has-text-weight-bold">
					<%= order.created_at.strftime('%m/%d %H:%M') %>
				</div>
			</div>			
		</div>
		</div>
		<% end %>			
		</div>
	
</section>