<section class="section" id="bread2">
	<div class="container" id="left">	
		<p class="title has-text-danger " ><%= flash[:note] %></p>	
		<div class="columns"  >
			<div class="column is-2 " >
				<nav class="breadcrumb  is-size-5-mobile has-text-weight-bold is-hidden-desktop" aria-label="breadcrumbs"  >	<ul>
				  	商品類別: <span >  </span>
				<% @types.each do |type| %>			  	
				    <li><a href="#<%= type.id %>" ><%= type.name%></a></li>
				<% end %>		    
				  </ul>
				</nav>					
				<aside class="menu is-hidden-mobile"  id="bread">
				  <p class="menu-label is-size-4 has-text-weight-bold">
				    商品類別:
				  </p>
				  <ul class="menu-list">
					<% @types.each do |type| %>			  	
					    <li><a href="#<%= type.id %>" class="is-size-5"><%= type.name%></a></li>
					<% end %>
				  </ul>
				  
				</aside>

			</div>
			<div class="column is-12 ">
			
				<% @types.each do |type| %>

				  <div class="title" id="<%= type.id %>">
				  	<% if type.products.find_by(shelve:true) %>
						<%= type.name%>	  			  	
				  </div>		  	
				  <hr>
				<% end %>		  

				  <div class="columns is-multiline is-desktop is-mobile">
				  	<% type.products.each do |product| %>
				  		<% if product.shelve %>
						    <div class="column is-2-desktop is-6-mobile " id="floatobject" style="padding: 3px">
						    	<div class="card" id="floatobject2">
						    		<div class="card-image">
						    			<figure class="image is-200x200 is-hidden-mobile" id="float" style="width:100%">
						    				<%= link_to  product_path(product) do%>
						    				<%= image_tag product.pictures,style:'height:100%;max-width:none;width:auto' %>
						    				<% end %>
						    			</figure>
						    			<figure class="image is-square is-hidden-desktop" id="float" style="width:100%">
						    				<%= link_to  product_path(product) do%>
						    				<%= image_tag product.pictures,style:'height:100%;max-width:none;width:auto' %>
						    				<% end %>
						    			</figure>				    			
						    		</div>				    		
				    		<div class="card-content is-size-7-mobile">
		    					<div class="">
		    					<%= link_to  product_path(product) do%>	
		    			         <div class="has-text-weight-bold"><%= product.name %></div> 
		    			          <p>售價 : NT$<%= product.price %>	</p>
		    			        <% end %>  									
		    			        </div>										
				    		</div>

						    </div>
						    </div>		
					<% end %>	    	  		
				    <% end %>
				  </div>
				  
				<% end %>
			</div>			
		</div>	
		<a href="#bread" id="up"><i class="fa fa-arrow-circle-up is-hidden-mobile" aria-hidden="true"></i></a>
		<a href="#bread2" id="up"><i class="fa fa-arrow-circle-up is-hidden-desktop " aria-hidden="true"></i></a>	
	</div>
</section>


