<section class="section" id="bread2" style="padding-top: 10px; padding-bottom: -70px ; margin-top: -10px ">
	<div class="container" id="left">	
		<p class="title has-text-danger " ><%= flash[:note] %></p>	
			<nav class="breadcrumb  is-size-5-mobile has-text-weight-bold is-hidden-desktop" aria-label="breadcrumbs"  >	<ul>
			  	商品類別: <span >  </span>
			<% @types.each do |type| %>			  	
			    <li><a href="#<%= type.id %>" ><%= type.name%></a></li>
			<% end %>		    
			  </ul>
			</nav>			
		<div class="columns"  >		
			<div class="column is-2 is-hidden-mobile" >		
				<aside class="menu is-hidden-mobile"  id="bread">
				  <p class="menu-label is-size-4 has-text-weight-bold">
				    商品類別:
				  </p>
				  <ul class="menu-list">
					<% @types.each do |type| %>			  	
					    <li><a href="#<%= type.id %>" class="is-size-5"><%= type.name%></a></li>
					<% end %>
				  </ul>
				  
				</aside>

			</div>
			<div class="column is-12">
			
				<% @types.each do |type| %>
	<br>
				  <div class="title" id="<%= type.id %>">
						<%= type.name%>	  			  	
				  </div>		  	
				  <hr>
		  

				  <div class="columns is-multiline is-desktop is-mobile">
				  	<% type.products.each do |product| %>
					    <div class="column is-3-desktop is-6-mobile " id="floatobject" style="padding: 3px">
					    	<div class="card" id="floatobject2">
					    		<% if product.pictures_url(:thumb) %>
						    		<div class="card-image ">
						    			<figure class="image is-200x200 is-hidden-mobile" id="float" style="width:100%">
						    				<%= link_to  product_path(product) do%>
						    				<%= image_tag product.pictures_url(:thumb),style:'height:100%;max-width:none;width:auto',class:'fimg' %>
						    				<% end %>
						    			</figure>
						    			<figure class="image is-square is-hidden-desktop" id="float" style="width:100%">
						    				<%= link_to  product_path(product) do%>
						    				<%= image_tag product.pictures_url(:thumb),style:'height:100%;max-width:none;width:auto' %>
						    				<% end %>
						    			</figure>				    			
						    		</div>	
						    	<% else %>
							    		<div class="card-image ">
							    			<figure class="image is-200x200 is-hidden-mobile" id="float" style="width:100%">
							    				<%= link_to  product_path(product) do%>
							    				<%= image_tag product.pictures,style:'height:100%;max-width:none;width:auto',class:'fimg' %>
							    				<% end %>
							    			</figure>
							    			<figure class="image is-square is-hidden-desktop" id="float" style="width:100%">
							    				<%= link_to  product_path(product) do%>
							    				<%= image_tag product.pictures,style:'height:100%;max-width:none;width:auto' %>
							    				<% end %>
							    			</figure>				    			
							    		</div>						    					    			
					    		<% end %>
				    		
			    		<div class="card-content is-size-7-mobile">
	    					<div class="">
	    					<%= link_to  product_path(product) do%>	
	    			         <div class="has-text-weight-bold"><%= product.name %></div> 
	    			          <p>售價 : NT$<%= product.price %>	</p>
	    			        <% end %> 
			        			<% if !product.shelve %>
								<hr>						
								<div class="column has-text-right">
										<p class="button is-danger ">缺貨中</p>
								</div>	
								<% end %> 									
	    			        </div>										
			    		</div>

					    </div>
					    </div>			    	  		
				    <% end %>
				  </div>
				  
				<% end %>
			</div>			
		</div>	
		<a href="#bread2" id="up"><i class="fa fa-arrow-circle-up is-hidden-desktop " aria-hidden="true"></i></a>	
	</div>
</section>


