<section class="section">
	<div class="container">
        <div class="columns">
        <div class="column is-5 has-text-centered" >                 
          <div class="card-image">
            <figure class="image is-350x350 is-hidden-mobile" >
                <%= image_tag @product.pictures,style:'height:100%;max-width:none;width:auto' %>
            </figure> 
            <figure class="image is-200x200 is-hidden-desktop" style="margin-left: 15%;overflow: hidden">
                <%= image_tag @product.pictures,style:'height:100%;max-width:none;width:auto' %>
            </figure>  
          </div>         
        </div>

        <div class="column"> 
              <div class=" is-size-2 has-text-weight-bold is-size-4-mobile"> <%= @product.name %> </div>                                      
                <div class="column has-text-left">
                <% if !@product.shelve %>
                <p class="button is-danger is-outlined">缺貨中</p>  
                <% elsif !work.working %>
                <p class="button is-danger is-outlined">暫時歇業</p>  
                <% else %>
                 <%= link_to '我要購買',order_path,class:'button is-danger'%>  
                <% end %> 
                            
                </div>                                                              
                <div class="column is-size-5 has-text-weight-semibold">
                    價格:
                <div class=" is-size-4 has-text-weight-bold">
                    NT$<%= @product.price %> 
                </div>
                </div>
                <div class="column is-size-5 ">
                    敘述:
                <div class="is-size-6 has-text-weight-semibold">
                    <%=simple_format  @product.description %> 
                </div>   
                </div> 

                                               
        </div>    
        </div>

        <hr>
        <div class="column" style="margin-left: auto;margin-right: auto;">
        <div class=" is-size-2 has-text-weight-bold is-size-5-mobile">
            商品照片:
        </div>
            <% unless @product.image1.blank? %>
             <div class="column ">
                <figure class="image is-hidden-mobile " style="height:800px" >
                    <%= image_tag @product.image1,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image1,style:"height:auto;width:100%" %>
                </figure> 
            </div>               
            <% end %>
            <% unless @product.image2.blank?%>
            <div class="column ">
                <figure class="image is-hidden-mobile" style="height:800px" >
                    <%= image_tag @product.image2,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image2,style:"height:auto;width:100%"%>
                </figure>
            </div>                
            <% end %>
            <% unless @product.image3.blank? %>
            <div class="column ">
                <figure class="image is-hidden-mobile" style="height:800px">
                    <%= image_tag @product.image3,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image3,style:"height:auto;width:100%" %>
                </figure>  
            </div>                
            <% end %>
            <% unless @product.image4.blank?  %>
            <div class="column " >
                <figure class="image is-hidden-mobile" style="height:800px">
                    <%= image_tag @product.image4,style:"height:100%;width:auto" %>
                </figure> 
                <figure class="image is-hidden-desktop" >
                    <%= image_tag @product.image4,style:"height:auto;width:100%"%>
                </figure> 
            </div>                
            <% end %>

        <hr>
            <div class="column">
                設計師:
                <div class="title is-size-4">
                    <%= @product.designer.name %>
                </div>
                <figure class="image is-128x128 ">
                    <%= image_tag @product.designer.image %>
                </figure>                    
            </div>                                 
        </div>
        <div class="column has-text-right">
         <%= link_to '上一頁',:back,class:'button is-info  '%>               
        </div>                

	</div>
</section>
