<!DOCTYPE html>
<html>
  <head>
    <title>Le Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <script src="https://squaresend.com/squaresend.js">

    </script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if params[:controller].split("/").first == 'admin'%>
    <div class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
    </div>
  <% end %>
   <div id="<%= 'rails' if params[:controller].split("/").first == 'admin'%>">
    <% if params[:controller].split("/").first == 'admin'%>
  	<%= render "admin_navbar" %>
    <% else %>
    <%= render "navbar"%>
    <% end %>
       <%= yield %>  
    </div>

  </body>
</html>

