<div class="columns">
  <div class="column  is-2 is-offset-5">
    <br>
    <br>
    <br>
    <h1 class="title has-text-centered">註冊</h1>
    <div class="box">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  
  <div class="field">
    <%= f.label :email ,'信箱:', class: 'label'%><br />
    <%= f.email_field :email, class: 'input', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password,'密碼:', class: 'label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: 'input', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation ,'密碼確認:', class: 'label'%><br />
    <%= f.password_field :password_confirmation, class: 'input', autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "註冊" %>
  </div>
<% end %>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>




